 <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#where">Where</a></li>
    <li><a ng-href="#program">Program</a></li>
    <li><a href="https://plus.google.com/112952310970563894279/posts">Contact</a></li>
  </ul>
  <a href="https://plus.google.com/u/0/communities/106561953391669938292" title="GDG Madrid"><img class="gdg" src="images/logo-gdg.png"></img></a> <h3 class="">GDG Madrid organizes</h3>
</div>
<div class="jumbotron">
  <div class="cover">
    <h2>Madrid, March 29 2014</h2>
    <h1>Come and have fun!</h1>
    <a href="https://www.dartlang.org/" target="_blank"><img src="images/dart.png" alt="I'm Dart"></a>
    <p class="lead">
      Brought with love by the Google community
    </p>
  </div>
</div>
