 <div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Inicio</a></li>
    <li><a ng-href="#where">Donde</a></li>
    <li class="active"><a ng-href="#program" >Programa</a></li>
    <li ><a ng-href="#resources">Recursos</a></li>
    <li><a href="https://plus.google.com/u/1/events/cgd24rj2tr3uha2u9k139ot8h28?authkey=CIPxw73G_4DDLw">Contacto</a></li>
  </ul>
  <a href="https://plus.google.com/u/0/communities/106561953391669938292" title="GDG Madrid"><img class="gdg" src="images/logo-gdg.png"></img></a> <h3 class="">GDG Madrid organiza</h3>
</div>
<div class="row">
	<div class="col-md-12 program">
		<div class="row">
      <div class="col-xs-12" style="display:none">
        <h3>APRENDE DART Y ANGULAR, OBTEN TUS ALAS DE DESARROLLADOR WEB!</h3>
        <p class="hero-text">Dart 1.0 ha llegado y está <em>listo para despegar</em>!
            Las comunidades de desarrolladores de todo el mundo estan organizando Flight Schools, así que se uno más y ven a aprender Dart!</p>
      </div>
			<div class="col-xs-12">
				<h3>Programa</h3>
        <p>Acceso gratuito a través de: <a href="https://www.eventbrite.com/e/dart-flight-school-madrid-tickets-8617171191">Evenbrite</a><p>
        <p>29 de Marzo a las 9:00 AM.</p>
				<p>Empezaremos con una parte teórica gracias a las charlas de : </p>
				<ul  class="speaks">
					<li><span class="glyphicon glyphicon-tags"></span>  Dart, por Moisés Belchín</li>
					<li><span class="glyphicon glyphicon-tags"></span>  Angular, por Rubén Ortiz Martín</li>
				</ul>
				<p>Después de las charlas nos pondremos manos a la obra y picaremos algo de código.</p>
			</div>
			<div class="col-xs-12">
        <h3>Las charlas</h3>
        <h2>Dart</h2>
        <uL>
          <li>Presentación del lenguaje
            <ul><li>¿Qúe es Dart?</li>
                <li>¿Cómo surge?</li>
                <li>¿Qué ventajas nos ofrece?</li>
            </ul>
          </li>
          <li>El entorno de desarrollo</li>
          <li>Herramientas
            <ul><li>El editor, DartEditor</li>
              <li>El gestor de paquetes, PUB</li>
              <li>La máquina Virtual, DartVM</li>
              <li>Dartium</li>
            </ul>
          </li>
          <li>Tour por el lenguaje
            <ul><li>Operadores y expresiones</li>
              <li>Variables</li>
              <li>Sentencias de control</li>
              <li>Funciones</li>
              <li>Excepciones</li>
              <li>Clases</li>
            </ul>
          </li>
          <li>Librerías</li>
          <li>Programación asíncrona</li>
          <li>Un paseo por algunas librerías interesantes</li>
        </ul>

        <div class="alert alert-info">
          <strong>Sobre el autor: </strong><p><b>Moisés Belchín</b>, ingeniero informático con más de 12 años de experiencia profesional como desarrollador. Trabaja profesionalmente con Google Dart desde su nacimiento, contribuyendo al desarrollo del lenguaje, colaborando con el equipo de desarrolladores de Google y en la detección y resolución de errores. Actualmente colabora en el sistema multi-idioma y la traducción de Dart Editor. 

Autor del primer libro sobre Dart en Castellano, <b>"Aprende Dart"</b> (<a href="http://librogoogledart.es/" target="_blank">librogoogledart.es</a>) y creador de <a href="http://blogdart.es/" target="_blank">Blogdart.es</a>, el primer punto de referencia sobre este lenguaje en castellano para acercarlo a la comunidad de desarrolladores de habla hispana.<p>

         <a href="https://twitter.com/moises_b_m" target="_blank" ><div class="twitterIcon"><b>Twitter<b></div></a>
        </div>
        <h2>Angular</h2>
        <uL>
          <li>¿Qué es Yeoman?</li>
          <li>Angular</li>
          <li>Routers</li>
          <li>Controllers - Principios básicos del binding</li>
          <li>Utilización de Services para consumo de una API REST</li>
          <li>Directivas</li>
        </ul>

        <div class="alert alert-info">
          <strong>Sobre el autor: </strong><p><b>Rubén Ortiz Martín</b>, ingeniero informático de profesión y por vocación. Experiencia de más de 10 años en la investigación en sistemas distribuidos inteligentes en el ámbito universitario y actualmente trabajando en el mundo de la televisión interactiva.<p>
          <a href="https://twitter.com/rormartin" target="_blank" ><div class="twitterIcon"><b>Twitter<b></div></a>
        </div>
      </div>
      </div>
		</div>
		
	</div>
</div>